---
---

<div aria-label="contact" class="hero min-h-20vh my-10 position-relative">
  <a class="position-absolute -top-16 lg:-top-8" id="contact"></a>
  <div
    class="lg:!gap-20 hero-content flex-col rounded-lg box-content lg:!p-10 bg-cc-base-700 lg:flex-row w-4/5"
  >
    <div class="px-6 md:px-5 lg:px-0 lg:text-initial lg:m-0">
      <h1 class="text-5xl font-bold text-center lg:text-left">Get in Touch</h1>
      <p class="py-6 text-center lg:text-left lg:px-0 lg:m-0">
        Need help with your communication efforts?
        My line is open; please reach out for a consultation.
      </p>
      <a href="mailto:jcampb1001@aol.com" class="ml-2 lg:ml-0 display-block"
        >Email: jcampb1001@aol.com</a
      >
      <a href="tel:3039319663" class="ml-2 lg:ml-0 display-block"
        >Call/Text: (303) 931-9663</a
      >
    </div>
  </div>
</div>
