---
import Layout from "../layouts/Layout.astro";
import About from "../components/content/About.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import Section from "../components/ContentSection.astro";
import Card from "../components/Card.astro";
---

<Layout title="Campbell Communications">
  <main class="font-sans relative z-10 mb-25 pb-5 w-full h-full bg-cc-base-500">
    <CTA
      header="New Things, New Tomorrows, New World"
      subheader="Are you ready to communicate?"
    />
    <About />
    <Section label="experience">
      <div class="flex flex-wrap gap-4 box-border">
        <Card title="Norwest Banks">
          Created a complete marketing plan to help Norwest become the premier
          bank of Hastings, NE
        </Card>
        <Card title="Boulder Rotary Club">
          Wrote the forward for two books published by the group: one of which
          was a recipe, the other was a collection of art and poems from local
          4th graders talking about peace
        </Card>
        <Card title="Henry Doorly Zoo">
          Completed various writing pieces including their guide book,
          fundrasing materials, and membership events brochures
        </Card>
        <Card title="Western Disposal"
          >Created promotional to help students gain insight into preservation
          and pollution control</Card
        >
        <Card title="Marriott Hotel"
          >Planned opening for Nebraska's first Marriott hotel and continued
          producing promotional materials with the hotel's marketing director</Card
        >
        <Card title="United States Holocaust Memorial Museum"
          >Headed fundrasing in Nebraska for creation of national Holocaust
          Memorial Museum, including the planning and presentation of fundrasing
          events
        </Card>
      </div>
    </Section>
    <Section label="contact" title="Get in Touch">
      Need help with your communication efforts? My line is open; please reach
      out for a consultation.
      <a href="mailto:jcampb1001@aol.com" class="ml-2 lg:ml-0 display-block"
        >Email: jcampb1001@aol.com</a
      >
      <a href="tel:3039319663" class="ml-2 lg:ml-0 display-block"
        >Call/Text: (303) 931-9663</a
      >
    </Section>
  </main>
  <Footer />
</Layout>
