---
import Layout from "../layouts/Layout.astro";
import Bio from "../components/content/Bio.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import Section from "../components/ContentSection.astro";
import Card from "../components/Card.astro";
import projects from "../data/experience";
---

<Layout title="Campbell Communications">
  <main class="font-sans relative z-10 mb-25 pb-5 w-full h-full bg-cc-base-500">
    <CTA
      header="New Things, New Tomorrows, New World"
      subheader="Are you ready to communicate?"
    />
    <Section label="services">
      Would you like compelling copy and communication strategies that will make
      your public listen? <br><br> Campbell Communications offers a variety of copy and
      other public relations solutions, including, press releases, event
      planning, hand book copy, newsletters, ad copy, speeches, narratives,
      forward or introductions to books, newsletters, business and personal
      strategies for reaching your goal etc.
    </Section>
    <Section label="experience">
      <div class="flex flex-wrap gap-4 box-border">
        {
          projects.map((project) => (
            <Card title={project.title}>{project.desc}</Card>
          ))
        }
      </div>
    </Section>
    <Bio />
    <Section label="contact" title="Get in Touch">
      Need help with your communication efforts? My line is open; please reach
      out for a consultation.
      <a href="mailto:jcampb1001@aol.com" class="ml-2 lg:ml-0 display-block"
        >Email: jcampb1001@aol.com</a
      >
      <a href="tel:3039319663" class="ml-2 lg:ml-0 display-block"
        >Call/Text: (303) 931-9663</a
      >
    </Section>
  </main>
  <Footer />
</Layout>
