---
import Layout from "../layouts/Layout.astro";
import About from "../components/content/About.astro";
import Contact from "../components/content/Contact.astro";
import CTA from "../components/CTA.astro";
import Experience from "../components/content/Experience.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Campbell Communications">
  <main class="font-sans relative z-10 mb-25 pb-5 w-full h-full bg-cc-base-500">
    <CTA
      header="New Things, New Tomorrows, New World"
      subheader="Are you ready to communicate?"
    />
    <About />
    <Experience />
    <Contact />
  </main>
  <Footer />
</Layout>
