---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Campbell Communications"
  ><main class="font-sans">
    <h1 class="text-2xl text-center mt-4">
      New Things, New Tomorrows, New World
    </h1>
    <About />
    <div class="h-screen"></div>
    <Contact />
  </main>
</Layout>
