---
---

<div id="about" class="hero min-h-20vh my-10">
  <div class="lg:!gap-20 hero-content flex-col rounded-lg box-content lg:!p-10 bg-base-300 lg:flex-row w-4/5 lg:w-4/5">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold first-letter:text-7xl">Jancy Campbell</h1>
      <p class="py-6">
        Jancy grew up in Omaha, Nebraska, graduating from the University of Negbraska with a degree in Journalism.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
