---
---

<div id="about" class="hero min-h-20vh my-10">
  <div
    class="lg:!gap-20 hero-content rounded-lg box-content lg:!p-10 bg-base-300 w-full"
  >
    <div class="">
      <h1
        class="text-5xl font-bold first-letter:text-7xl first-letter:float-left first-letter:pr-2"
      >
        Jancy Campbell
      </h1>
      <p class="pb-6">
        grew up in Omaha, Nebraska, where she graduated from the University of
        Nebraska with a degree in journalism. Moving to Washington DC with her
        husband, she worked for a United States Congressman from Michigan. Later
        moving back to Omaha, she became a full-time mother of three daughters
        along with completing her masters degree in mass communication. Her
        communications career continued as a public relations executive at
        Bozell Jacobs, one of the top ten advertising publishers in the world at
        the time.<br /><br />Admiring Colorado, Jancy moved to Boulder and spent
        a couple years as an adjunct professor in the School of Journalism at
        the University of Colorado.<br /><br />With interest in the landscape of
        Colorado, she shifted her career into real estate.<br /><br />Strongly
        believing in giving back to her community, she:
      </p><ul>
        <li>
          Became director and president of the Boulder-Dushanbe Sister Cities
          and was active in bringing the Dushanbe Teahouse to Boulder
        </li>
        <li>Was awarded the Boulder 2019 Volunteer of the Year Award</li>
        <li>
          Served a five year term on Boulder's Downtown Management Commission
        </li>
        <li>Served as director and president of Historic Boulder</li>
        <li>Received the 2020 Lifetime Volunteer Award</li>
        <li>
          Was director and president of the Boulder Art Center (known today as
          the Boulder Museum of Contemporary Art)
        </li>
        <li>Was a Junior Achievement presenter on Boulder Area Schools</li>
        <li>Served many years on the Colorado Music Festival board</li>
        <li>Served many years on CU's Conference of World Affairs Committee</li>
        <li>
          Received the 2020 Humanitarian of the Year award as a member of the
          Boulder Rotary Club
        </li>
      </ul>
    </div>
  </div>
</div>
