---
export interface Props {
  header?: string;
  subheader?: string;
}

const { header, subheader } = Astro.props as Props;
---

<div class="hero h-full">
  <div
    class="hero-content bg-[#D3AF37] text-accent-content text-center my-6 rounded-lg w-7/10"
  >
    <div class="w-full">
      <h2 class="text-4xl">
        {header}
      </h2>
      <h1 class="font-bold text-3xl mt-4">
        {subheader}
      </h1>
    </div>
  </div>
</div>
