---
---

<footer class="flex items-center fixed bottom-0 w-full h-25 bg-cc-base-700">
  <p class="w-full text-center">
    Designed by <a href="https://arimgibson.com">Ari Gibson</a> | Open Source on
    <a href="https://github.com/ari-gibson-consulting-llc-sites">GitHub</a>
  </p>
</footer>
