---
---

<nav role="navigation" class="sticky top-0 bg-[#202020] z-100">
  <ul
    id="menu"
    class="flex justify-center items-center h-12 w-full gap-1 md:gap-4 lg:gap-8"
  >
    <a class="btn btn-ghost btn-sm" href="#about"><li>About</li></a>
    <a class="btn btn-ghost btn-sm" href="#experience"><li>Experience</li></a>
    <a class="btn btn-ghost btn-sm" href="#contact"><li>Contact</li></a>
  </ul>
</nav>
