---
---

<nav role="navigation" class="sticky top-0 bg-cc-base-700 z-100">
  <ul
    id="menu"
    class="flex justify-center items-center h-16 w-full gap-1 md:gap-4 lg:gap-8 text-base-content"
  >
    <a class="btn btn-ghost btn-md text-lg" href="#about"><li>About</li></a>
    <a class="btn btn-ghost btn-md text-lg" href="#experience"><li>Experience</li></a>
    <a class="btn btn-ghost btn-md text-lg" href="#contact"><li>Contact</li></a>
  </ul>
</nav>
