---
---

<div class="w-full h-60 bg-[#233142] flex">
  <a href="." class="flex justify-center items-center w-full h-full">
    <img
      src="title.svg"
      alt="Logo"
      onload="SVGInject(this)"
      class="w-8/10"
    />
  </a>
</div>
