---
---

<div class="w-full h-40 md:h-50 lg:h-60 flex bg-cc-base-500">
  <a href="." class="flex justify-center items-center w-full h-full">
    <img src="title.svg" alt="Logo" class="w-8/10 md:w-6/10 h-8/10 svg" />
  </a>
</div>
