---
import Nav from "../components/Nav.astro";
import Title from "../components/Title.astro";
import "@unocss/reset/tailwind.css";
import "@kidonng/daisyui/index.css";
import "uno.css";
export interface Props {
  title: string;
  classList?: string;
}

const { title, classList } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dracula">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      import SVGInject from "@iconfu/svg-inject";
      document.addEventListener("DOMContentLoaded", () => {
        SVGInject(document.querySelectorAll("img.svg"), {
          afterLoad: function (svg: any) {
            svg.classList.add("w-8/10", "md:w-6/10", "h-8/10");
          },
        });
      });
    </script>
  </head>
  <body class={classList}>
    <header>
      <Title />
      <Nav />
    </header>
    <slot />
  </body>
</html>
